
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Comfortaa&family=Underdog&display=swap');
/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(gold,goldenrod);
}

/* MAIN LAYOUT */
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20fr 1fr;
   
}

main {
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 20px;
}

footer{
    grid-row: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
    background: black;
    border-top: 2px solid whitesmoke;
    font-family: "Comfortaa", monospace;
    color: whitesmoke;
}

/* APP */
.current-time,
.alarm-time {
    font-family: "Allerta Stencil", monospace;
    font-size: clamp(2rem,30vh,10rem);
    color: brown;
    font-weight: bold;
    text-shadow: brown 1px 0 10px;
}



