
/* COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

/* MAIN LAYOUT */
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    background: radial-gradient(gold,goldenrod);
}

header {
    grid-row:1/2;
    display: grid;
    align-items: center;
    justify-content: left;
    font-size: 2rem;
    background: black;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 10px;
}

main {
    grid-row: 2/3;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 20px;
}

footer{
    grid-row: 3/4;
    display: grid;
    align-items: center;
    justify-content: center;
    background: black;
    border-top: 2px solid whitesmoke;
}

/* APP */


.current-time {
    font-size: 8rem;
}

.alarm-time {
    font-size: 4em;
}

.control-box {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 10px
}

.control-box * {
    font-size: 1rem;
}

#sound-selector {
    height: 2em;
    width: 15em;
    text-align: center;
    background-color: inherit;
    border-radius: 25px;
    border: 2px solid black;
    
}

button {
    height: 2em;
    width: 8em;
    padding: 2px;
    background-color: inherit;
    border-radius: 25px;
    border: 2px solid black;
}


